<section class='addrole' >
    <div class='row'>
        <h2> {{ title }} </h2>
        <form (ngSubmit)="save(user)" #registerForm="ngForm" novalidate>
            <div class='form-group row'>
                <label class='control-label col-md-3'> Email: </label>
                <div class='col-md-4' >
                    <input class='form-control' [(ngModel)]="user.email" required email type="email" name="email" #email="ngModel">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                        <div *ngIf="email.errors.required">
                            Pole jest wymagane.
                        </div>
                        <div *ngIf="email.errors.email">
                            Błędny format adresu email.
                        </div>
                    </div>
                </div>
            </div>
            <div class='form-group row'>
                    <label class='control-label col-md-3'> Nazwa użytkownika: </label>
                    <div class='col-md-4' >
                        <input class='form-control' [(ngModel)]="user.userName" required type="text" name="username" #username="ngModel">
                        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                            <div *ngIf="username.errors.required">
                                Pole jest wymagane.
                            </div>
                        </div>
                    </div>
                </div>
            <div class='form-group row'>
                <label class='control-label col-md-3'> Hasło: </label>
                <div class='col-md-4'>
                    <input class='form-control' [(ngModel)]="user.password" type="password" name="password" #password="ngModel" required minlength="8">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                        <div *ngIf="password.errors.required">
                            Hasło jest wymagane.
                        </div>
                        <div *ngIf="password.errors.minlength">
                            Hasło musi miec minimum 8 znakow.
                        </div>
                    </div>
                </div>
            </div>
            <div class='form-group row'>
                <label class='control-label col-md-3'> Powtorz hasło: </label>
                <div class='col-md-4'>
                    <input class='form-control' id="rePassword" [(ngModel)]="user.rePassword" type="password" name="rePassword" required equalValidate="password" #rePassword="ngModel">
                    <div *ngIf="rePassword.invalid && (rePassword.dirty || rePassword.touched)" class="alert alert-danger">
                        Podane hasła nie zgadzają się.
                    </div>
                </div>
            </div>
            <div class='form-group row'>
                <label class='control-label col-md-3'> Role: </label>
                <div class='col-md-4'>
                    <select class="form-control" [(ngModel)]="roleToDb" name="roles" (ngModelChange)="onRoleSelected($event)">
                            <option *ngFor="let role of roles" [ngValue]="role">{{ role.name }}</option>
                        </select>
                </div>
            </div>
            <div class='form-group row'>
                <button type='submit' class='btn btn-primary' [disabled]='registerForm'>Zapisz</button>
                <button class='btn btn-default' (click)='cancel()' type='button'>Zamknij</button>
            </div>
        </form>
    </div>
</section>