<section class='fetch-roles'>
    <div class='row'>
        <p *ngIf="!users"><em>Loading...</em></p>
        <p>{{ tempinfo }}</p>
        <div class='col-md-3'>
            <a [routerLink]="['/admin/adduser']" class='btn btn-primary'>Dodaj użytkownika</a>
        </div>
    </div>
    <hr />
    <div class='row'>
        <div class='col-md-8'>
            <div class='col-md-3'>
                <label> Email </label>
            </div>
            <div class='col-md-3'>
                <label> Nazwa użytkownika </label>
            </div>
            <div class='col-md-2'>
                <label> Role </label>
            </div>
            <div class='col-md-2'>
                <label> Utworzono </label>
            </div>
            <div class='col-md-2'>
                <label> Akutalizacja </label>
            </div>
        </div>
        <div class='col-smd-4'>
        </div>
    </div>
    <div class='row' *ngFor="let user of users">
        <div class='col-md-8'>
            <div class='col-md-3'>
                {{ user.email }}
            </div>
            <div class='col-md-3'>
                {{ user.userName }}
            </div>
            <div class='col-md-2'>
                <div *ngFor="let role of user.roles">
                    {{ role.name }}
                </div>
            </div>
            <div class='col-md-2'>
                {{ user.createdAt | dateFormat}}
            </div>
            <div class='col-md-2'>
                {{ user.updatedAt | dateFormat}}
            </div>
        </div>
        <div class='col-md-4'>
            <a [routerLink]="['/admin/user/edit/', user.userId]" class="btn btn-warning">Edycja</a> |
            <a [routerLink]="" (click)="delete(user.userId)" class="btn btn-danger">Usuń</a> |
            <a [routerLink]="" (click)="resetPassword(user.userId)" class="btn btn-info">Resetuj haslo</a>
        </div>
    </div>
</section>