<div class='nav-admin'>
    <div class='navbar'>
        <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/admin/users']">
                        <span class='glyphicon glyphicon-education'></span> Użytkownicy
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/admin/roles']">
                        <span class='glyphicon glyphicon-education'></span> Role użytkownikow
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/admin/categories']">
                        <span class='glyphicon glyphicon-education'></span> Kategorie
                    </a>
                </li>
            </ul>
    </div>
</div>