<section class='login-section container body-content'>
    <div>
        <div class='row'>
            <div class='col-xs-12 header'>
                <h2 class='text-center'> {{ title }} </h2>
            </div>
            
            <form (ngSubmit)="save(login)" #loginForm="ngForm">
                <div class='form-group row'>
                    <div class='col-xs-10 col-xs-offset-1'>
                        <input class='form-control' [(ngModel)]="login.email" type="email" name="email" required email id="email" #email="ngModel" placeholder="Adres Email">
                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                            <div *ngIf="email.errors.required">
                                Email jest wymagany.
                            </div>
                            <div *ngIf="email.errors.email">
                                Niepoprawna forma adresu email.
                            </div>
                        </div>
                    </div>
                </div>
                <div class='form-group row'>
                    <div class='col-xs-10 col-xs-offset-1'>
                        <input class='form-control' [(ngModel)]="login.password" type="password" name="name" required #password="ngModel" placeholder="Haslo">
                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                            <div *ngIf="password.errors.required">
                                Hasło jest wymagane.
                            </div>
                        </div>
                    </div>
                </div>
                <div class='form-group row'>
                    <div class="col-xs-offset-1 col-xs-3">
                       <button type='submit' class='btn btn-primary' [disabled]="!loginForm.valid">Zaloguj</button> 
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>