.body-content{
    height: 50%;
    width: 30%;
    border: 1px solid green;
    border-radius: 5px;
}

.header {
    background-color: rgb(60, 184, 60);
    margin-bottom: 30px;
    color: white;
    font-size: 18px;
}

@media(max-width: 765px) {
    .body-content {
        width: 90%;
        margin-top: 10%;
    }
}

.form-control {
    border-bottom: 1px solid green;
    border-left: none;
    border-right: none;
    border-top: none;
}

.form-control:focus {
    border: 1px solid greenyellow;
}
