.body-content{
    height: 50%;
    width: 30%;
    border: 1px solid green;
    border-radius: 5px;
}

.header {
    background-color: rgb(60, 184, 60);
    margin-bottom: 30px;
    color: white;
    font-size: 18px;
}

@media(max-height: 765px) {
    .body-content {
        width: 90%;
        margin-top: 10%;
    }
}
